{% load static %}
<!DOCTYPE html>
<html lang="hr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Upute</title>
  <link rel="stylesheet" href="{% static 'impulsStranica/upute.css' %}">
</head>
<body>

  <div id="root"></div>

  <script src="https://unpkg.com/react@18/umd/react.production.min.js"></script>
  <script src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js"></script>  
  <script src="https://cdn.jsdelivr.net/npm/framer-motion@10.16.4/dist/framer-motion.umd.min.js"></script>
  <script src="{% static 'impulsStranica/upute.js' %}"></script>

</body>
</html>
