<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prijava</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'login_register_styles/login_register.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
  <div class="auth-container">
    <a href="/" class="back-arrow"><i class="fas fa-arrow-circle-left"></i></a>
    <h2>Prijava</h2>

    {% if messages %}
      {% for message in messages %}
        <p style="color:red">{{ message }}</p>
      {% endfor %}
    {% endif %}

    <form method="post">
        {% csrf_token %}

        <input type="text" name="username" placeholder="Korisničko ime" required><br><br>

        <div class="password-wrapper">
          <input type="password" name="password" id="password" placeholder="Lozinka" required>
          <i class="fa-solid fa-eye toggle-password" id="toggle-password"></i>
        </div><br>

        <button type="submit">Prijavi se</button>
    </form>

    <p>Nemaš račun? <a href="{% url 'ImpulsStranica:register' %}">Registriraj se</a></p>
  </div>

  <script src="{% static 'login_register_styles/login_register.js' %}"></script>
</body>
</html>
