<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Registracija</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'login_register_styles/login_register.css' %}">
</head>
<body>
  <div class="auth-container">
    <h2>Registracija</h2>
    {% if messages %}
      {% for message in messages %}
        <p style="color:red">{{ message }}</p>
      {% endfor %}
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Korisničko ime" required><br><br>
        <input type="password" name="password" placeholder="Lozinka" required><br><br>
        <button type="submit">Registriraj se</button>
    </form>

    <p>Već imaš račun? <a href="{% url 'ImpulsStranica:login' %}">Prijavi se</a></p>

  </div>
  
    <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
    <script src="{% static 'login_register_styles/login_regiser.js' %}"></script>
</body>
</html>
